@model TRN.Feature.BasicContent.Models.Banner

<div>
    @Model.BannerTitle
</div>
<div>
    For More information please contact: <a href="@Model.Spoc.NavgiationItemUrl">@Model.Spoc.NavigationItemName</a>
</div>
<div>
    For More details please visit: <a href="@Model.Details.NavgiationItemUrl">@Model.Details.NavigationItemName</a>
</div>
<div>
    @Model.BannerDesc
</div>
<div>
    @Model.BannerImage
</div>