@model TRN.Feature.BasicContent.Models.CommentsFormViewModel

@using (Html.BeginForm())
{
    <p>ID</p>
    <input class="form-control" type="text" id="@Model.Comments.ID" name="@Model.Comments.ID" placeholder="Give your ID" />
    <p>@Model.CommentsFormLabel.NameLabel</p>
    <br />
    <input class="form-control" type="text" id="@Model.Comments.Name" name="@Model.Comments.Name" placeholder="@Model.CommentsFormLabel.NamePlaceholder" />
    <p>@Model.CommentsFormLabel.EmailLabel</p>
    <br />
    <input class="form-control" type="text" id="@Model.Comments.Email" name="@Model.Comments.Email" placeholder="@Model.CommentsFormLabel.EmailPlaceholder " />
    <p>@Model.CommentsFormLabel.CommentLabel</p>
    <br />
    <input class="form-control" type="text" id="@Model.Comments.Comment" name="@Model.Comments.Comment" placeholder="@Model.CommentsFormLabel.CommentPlaceholder" />
    <br />
    <button type="submit" class="btn btn-primary">@Model.CommentsFormLabel.SubmitButtonLabel</button>
}