<h1>@Html.Sitecore().Field("StudentName")</h1>
<div>@Html.Sitecore().Field("StudentID")</div>
<div>@Html.Sitecore().Field("StudentProfilePic")</div>
<div>@Html.Sitecore().Field("StudentAddress")</div>
<div>@Html.Sitecore().Field("StudentDob")</div>
